@model Office
@{
    ViewData["Title"] = "EditForm";
}

<h1>EditForm</h1>


<form action="/Office/EditInDB" >
    <input asp-for="Id" hidden />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Location" class="form-label"></label>
        <input class="form-control" asp-for="Location">
    </div>
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <select class="form-select" asp-for="Id" asp-items="@ViewBag.depts">
            <option selected>Open this select menu</option>
            <option selected>1</option>
            <option selected>2</option>
            <option selected>3</option>


        </select>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
